*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Segoe UI', sans-serif;
background:#f4f6f9;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
width:380px;
padding:30px 25px;
border-radius:18px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
text-align:center;
}

h2{
margin-bottom:25px;
}

.upload-box{
width:100%;
height:220px;
border:2px dashed #1976d2;
border-radius:15px;
display:flex;
align-items:center;
justify-content:center;
margin-bottom:20px;
cursor:pointer;
background:#f9fbff;
}

.upload-box input{
opacity:0;
position:absolute;
width:200px;
height:200px;
cursor:pointer;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#1976d2;
color:white;
font-weight:600;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#0d5ec4;
}